html{

}
body {
 
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(45deg,#7c7c83 50%, #f2f2f3 100%);
    background-size: cover;
    background-repeat: no-repeat;
}
.grid {
    border: 3px solid;
    border-color: #003313;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    width: 280px;
    background-color: #EBCD47;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    box-shadow: #000e05;
}

.grid div {
    height: 36px;
    width: 36px;

}

.slot {
    border: 1px solid;
    border-radius: 18px;
    background-color: #cfb644;
}

.player-one {
    height: 18px;
    width: 18px;
    background-color: #F5251B;
    border-radius: 18px;
    border: 1px solid
}

.player-two {
    height: 18px;
    width: 18px;
    background-color:#1415F5;
    border-radius: 18px;
    border: 1px solid
}

h1 {
    text-align: center;
    font-size: x-large;
    color: #000e05;
}

h3 {
    font-size: 96;
    text-align: center;
    color: #000f06;
}

.unclickable {
    pointer-events: none;
}